@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply m-0 min-h-screen bg-archer-dark text-archer-white font-display antialiased;
    background: radial-gradient(circle at top right, #271f56, #080612 60%);
  }

  a {
    @apply text-inherit;
  }
}
